body, html {
    height: 100%;
    background-color: #1A2930;
}
a {
    color: #ff851b;
    text-decoration: none;
}

/* HOME */
.bg-lambda-green {
    background-color: rgb(0, 107, 0);
}

.parallax {
    background-image: url("assets/lambda-logo-white.png");
    height: 1100px;
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: 40px;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
}

#arrow {
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -18px;
    height: 64px;
}

.language-image {
    max-height: 48px;
} 

.contribution-links {
    list-style-type: lower-greek;
}    

@media only screen and (max-device-width: 768px) {
    .parallax {
        background-attachment: scroll;
	background-image: url("assets/lambda-logo-square.png");
	height: 350px;
	background-size: 45%;
	background-position-y: 55px;
    }
}

